body {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blocks-container {
  margin: 5rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.block {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  font-size: larger;
}

.message {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  letter-spacing: 0.4rem;
}

.status {
  color: yellow;
  text-align: center;
  letter-spacing: 0.51rem;
}

@keyframes shine {
  0% {
    background-color: red;
  }

  100% {
    background-color: black
  }
}